<header>
    <script type="text/javascript" src="../../_directives/fileModel.js"></script>
</header>
<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/profile']">MY PROFILE</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="status">
    <div *ngIf="!customer.isStarted && !customer.isFinished">
        <input (click)="notStarted()" type="radio" name="gender" value="Not Started" checked> Not Started
        <input (click)="inProgress()" type="radio" name="gender" value="In Progress"> In Progress
        <input (click)="finished()" type="radio" name="gender" value="Finished"> Finished
    </div>
    <div *ngIf="customer.isStarted && !customer.isFinished">
        <input (click)="notStarted()" type="radio" name="gender" value="Not Started"> Not Started
        <input (click)="inProgress()" type="radio" name="gender" value="In Progress" checked> In Progress
        <input (click)="finished()" type="radio" name="gender" value="Finished"> Finished
    </div>
    <div *ngIf="customer.isFinished">
        <input (click)="notStarted()" type="radio" name="gender" value="Not Started"> Not Started
        <input (click)="inProgress()" type="radio" name="gender" value="In Progress"> In Progress
        <input (click)="finished()" type="radio" name="gender" value="Finished" checked> Finished
    </div>
</div>
<div class="progress">
    <div *ngIf="customer.isFinished" class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:green;">
      Finished
    </div>
    <div *ngIf="!customer.isStarted && !customer.isFinished" class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:red;">
      Not started
    </div>
    <div *ngIf="customer.isStarted" class="progress-bar progress-bar-striped active" role="progressbar"
    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:orange;">
      In progress
    </div>
</div>
<div class="c-information">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Customer Information</b></div>
        <div class="panel-body">
            <p>Username: {{customer.username}}</p>
            <p>Firstname: {{customer.firstName}}</p>
            <p>Lastname: {{customer.lastName}}</p>
        </div>
    </div>
</div>
<div class="p-information">
    <div class="panel panel-default">
        <div class="panel-heading"><b>Used Products</b>
            <button type="button" class="btn btn-success" (click)="addNewProduct()" style="margin-left:2%">Add product</button>
            <input type="text" [(ngModel)]="newProduct" name="product" #product="ngModel">
        </div>
        <div class="panel-body">
            <tr *ngFor="let product of customer.usedProducts">
                <p>
                    <button type="button" class="btn btn-danger" (click)="deleteProduct(product)">Delete product</button> ● 
                    <b>{{product}}</b>
            </tr>
        </div>
    </div>
</div>