<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">WorkTracker</h1>
        </div>

        <div class="modal-body">
            <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input type="text" class="form-control input-lg" name="username" [(ngModel)]="model.username" #username="ngModel" required placeholder="Username" />
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" class="form-control input-lg" name="password" [(ngModel)]="model.password" #password="ngModel" required placeholder="Password" />
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </div>

                <div class="form-group">
                    <input [disabled]="loading" type="submit" class="btn btn-block btn-lg btn-primary" value="Login" />
                    <span class="pull-right"><a [routerLink]="['/register']">Register</a></span><span><a href="#">Forgot Password</a></span>
                </div>
            </form>
        </div>
    </div>
</div>