<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a [routerLink]="['/profile']">MY PROFILE</a></li>
                <li><a [routerLink]="['/login']">LOGOUT</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table" style="background-color: rgba(255, 255, 255, 0.5);">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Hi <b>{{currentUser.firstName}}</b>! You are currently working for:</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <button type="button" class="btn btn-sm btn-primary btn-create" (click)="createNewCustomer()">Create new customer</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th><em class="fa fa-cog"></em></th>
                                <th class="hidden-xs">Username</th>
                                <th>Firstname</th>
                                <th>Lastname</th>
                                <th>Current progress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let customer of customers">
                                <td align="center">
                                    <a class="btn btn-default" (click)="editCustomer(customer._id)"><em class="fa fa-pencil"></em></a>
                                    <a class="btn btn-danger" (click)="deleteCustomer(customer._id)"><em class="fa fa-trash"></em></a>
                                </td>

                                <td class="pointer" (click)="manageCustomer(customer._id)">{{customer.username}}</td>
                                <td>{{customer.firstName}}</td>
                                <td>{{customer.lastName}}</td>
                                
                                <td *ngIf="!customer.isStarted && !customer.isFinished">
                                    Your work has not been started.
                                </td>
                                <td *ngIf="customer.isStarted && !customer.isFinished">
                                    You are still working.
                                </td>
                                <td *ngIf="customer.isFinished">
                                    Your work has been finished.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>