<div class="col-lg-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        customer
      </div>
      <div class="panel-body">
        <p>gegevens over gebruiker ?, voor de rest geen idee wat er hier moet komen rip, profielfoto..</p>
      </div>

    </div>
    <div class="panel panel-info">
      <div class="panel-heading">
        Default Panel
      </div>
      <div class="panel-body">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" class="collapsed">test</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
              <div class="panel-body">
                <p>blabla</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-lg-3">
    <div class="panel panel-info" style="height:400px;">
      <div class="panel-heading">
        Default Panel
      </div>
      <div class="panel-body">
        <p>kalender + klok</p>
      </div>

    </div>
  </div>

  <div class="col-lg-8">

  </div>
  <div class="col-lg-3">
    <div class="panel panel-info" style="height:700px;">
      <div class="panel-heading">
        Default Panel
      </div>
      <div class="panel-body">
        <p>progressie leerlingen</p>
      </div>

    </div>
  </div>