<header>
    <script type="text/javascript" src="../../_directives/fileModel.js"></script>
</header>

<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/profile']">MY PROFILE</a>
                </li>
                <li>
                    <a>MY DASHBOARD</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="welcome-message">
    <h2>Welcome to WorkTracker {{customer.firstName}} {{customer.lastName}}!</h2>
</div>
<div class="progress">
    <div *ngIf="customer.isFinished" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
        aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:green;">
        Finished
    </div>
    <div *ngIf="!customer.isStarted && !customer.isFinished" class="progress-bar progress-bar-striped active" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%;background-color:red;">
        Not started
    </div>
    <div *ngIf="customer.isStarted" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0"
        aria-valuemax="100" style="width:100%;background-color:orange;">
        In progress
    </div>
</div>
<div style="display:flex; justify-content: center;">
    <div class="p-information">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <b style="display:inline-block;line-height: 35.5px;">Used Products</b>
                </div>
            </div>
            <div class="panel-body">
                <tr *ngFor="let product of customer.usedProducts">
                    <p>●
                        <b>{{product}}</b>
                </tr>
            </div>
        </div>
    </div>
    <div class="c-information">
        <div class="panel panel-default" style="margin-top:0%;">
            <div class="panel-heading">
                <b style="line-height: 35.5px;">Customer Information</b>
            </div>
            <div class="panel-body">
                <p>Username: {{customer.username}}</p>
                <p>Firstname: {{customer.firstName}}</p>
                <p>Lastname: {{customer.lastName}}</p>
            </div>
        </div>
    </div>
</div>
<div class="progression-tabs">
    <div class="task-tab" style="width:31.5%;margin-right:0.5%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>To do</h3>
            </div>
            <div class="panel-body" style="min-height:275px">
                <div class="progression-card-todo" *ngFor="let item of customer.todoItems">
                    <h2>{{item}}</h2>
                    <div style="position:absolute;top: 2px;right: 3px;">
                        <div class="glyphicon glyphicon-remove" (click)="collapse(item)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="task-tab" style="width:31%;margin-right:0.5%;margin-left:0.5%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>In progress</h3>
            </div>
            <div class="panel-body" style="min-height:275px">
                <div class="progression-card-progress" *ngFor="let item of customer.inProgressItems">
                    <h2>{{item}}</h2>
                    <div style="position:absolute;top: 2px;right: 3px;">
                        <div class="glyphicon glyphicon-remove" (click)="collapse(item)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="task-tab" style="width:31.5%;margin-left:0.5%">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Done</h3>
            </div>
            <div class="panel-body" style="min-height:275px">
                <div class="progression-card-done" *ngFor="let item of customer.doneItems">
                    <h2>{{item}}</h2>
                    <div style="position:absolute;top: 2px;right: 3px;">
                        <div class="glyphicon glyphicon-remove" (click)="collapse(item)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>