<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a>MY PROFILE</a>
                </li>
                <li *ngIf="isCustomer">
                    <a [routerLink]="['/dashboard']">MY DASHBOARD</a>
                </li>
                <li *ngIf="!isCustomer">
                    <a [routerLink]="['/home']">HOME</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">LOGOUT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default panel-table" style="background-color: rgba(255, 255, 255, 0.5);">
                <div class="panel-heading">
                    <div class="row">
                            <h2 align="center"><b>Profile information</b></h2>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td>{{user.username}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th>Firstname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td>{{user.firstName}}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr >
                                <th>Lastname</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr align="center">
                                <td>{{user.lastName}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>