<nav class="navbar navbar-clean">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/profile']">MY PROFILE</a>
                </li>
                <li>
                    <a [routerLink]="['/login']">LOGOUT</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="progress">
    <div *ngIf="isFinished" class="progress-bar progress-bar-success" role="progressbar" style="width:100%">
        Finished
    </div>
    <div *ngIf="!isStarted" class="progress-bar progress-bar-danger" role="progressbar" style="width:100%">
        Not Started
    </div>
    <div *ngIf="isStarted" class="progress-bar progress-bar-warning" role="progressbar" style="width:100%">
        In Progress
    </div>
</div>
<div class="c-information">
    <div class="panel panel-default">
        <div class="panel-heading">Customer Information</div>
        <div class="panel-body">
            <p>Username: {{customer.username}}</p>
            <p>Firstname: {{customer.firstName}}</p>
            <p>Lastname: {{customer.lastName}}</p>
        </div>
    </div>
</div>

<div class="f-information">
    <div class="panel panel-default">
        <div class="panel-heading">Usefull Files</div>
        <div class="panel-body">
            <p>Name: <input type="file"></p>
            <p>Name: </p>
            <p>Name: </p>
        </div>
    </div>
</div>

<div class="p-information">
    <div class="panel panel-default">
        <div class="panel-heading">Used Products
        </div>
        <div class="panel-body">
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
            <p>Name: </p>
        </div>
    </div>
</div>
