<nav class="navbar navbar-clean">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
			<a class="navbar-brand" [routerLink]="['/home']">WorkTracker</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">MY PROFILE</a></li>
				<li><a [routerLink]="['/login']">LOGOUT</a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>
<div class="container">
	<div class="row main">
		<div class="main-login main-center">
			<h3 *ngIf="!isEdit">Register a new customer!</h3>
			<h3 *ngIf="isEdit">Update customer</h3>
			<form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
					<label for="firstName" class="cols-sm-2 control-label">Firstname</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-user"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="firstName" placeholder="Enter customer's firstname" [(ngModel)]="model.firstName"
							 #firstName="ngModel" required />
							<div *ngIf="f.submitted && !firstName.valid" class="help-block">Firstname is required</div>
						</div>
					</div>
				</div>

				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
					<label for="lastName" class="cols-sm-2 control-label">Lastname</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-user"><i class="fa fa-user fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="lastName" id="lastName" placeholder="Enter customer's lastname" [(ngModel)]="model.lastName"
							 #lastName="ngModel" required/>
							<div *ngIf="f.submitted && !lastName.valid" class="help-block">Firstname is required</div>
						</div>
					</div>
				</div>

				<div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
					<label for="username" class="cols-sm-2 control-label">Username</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-user"><i class="fa fa-users fa" aria-hidden="true"></i></span>
							<input type="text" class="form-control" name="username" id="username" placeholder="Enter customer's username" [(ngModel)]="model.username"
							 #username="ngModel" required/>
							<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
						</div>
					</div>
				</div>

				<div *ngIf="!isEdit" class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
					<label for="password" class="cols-sm-2 control-label">Password</label>
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon glyphicon glyphicon-lock"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="password" id="password" placeholder="Enter customer's Password" [(ngModel)]="model.password"
							 #password="ngModel" required/>
							<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<input *ngIf="!isEdit" [disabled]="loading" type="submit" class="btn btn-block btn-lg btn-primary" value="Register" />
					<input *ngIf="isEdit" [disabled]="loading" type="submit" (click)="update()" class="btn btn-block btn-lg btn-primary" value="Update customer" />
				</div>
			</form>
		</div>
	</div>
</div>